.post__main {
  margin: 0px;
  width: 100%;
  padding: 20px;
}

.post__box-container {
  background-color: white;
}
.post__card {
  width: 70%;
}

.title-card {
  font-size: 30px !important;
}

.header-card {
  padding: 1px !important;
  //height: 450px !important;
}

.react-player {
  width: 100% !important;
  //height: 100% !important;
  height: 450px !important;
}

.body-card {
}
.avatar-card {
  float: left;
}
