body {
  // overflow-y: hidden; /* Hide vertical scrollbar */
  // overflow-x: hidden; /* Hide horizontal scrollbar */
}

.content-app {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  //padding: 1px 10% 20px 10%;
}
.site-layout-content {
  width: 100%;
  background: #fff !important;
  box-sizing: border-box;
  padding: 1px 15% 20px 15%;
}
.row {
  background-color: white;
}

.header-card {
  background-color: white !important;
}

.row-container {
  background-color: #f0f2f5 !important;
}
.col-detail {
  padding: 1em;

  background: #f5f5f5;
  box-shadow: 2px 2px 4px hsl(0, 0%, 70%);
}

.post__box-container {
  background-color: white;
}

.title-card {
  font-size: 30px !important;
  text-align: center;
}

.header-card {
  padding: 1px !important;
  padding-bottom: 20px !important;
}

.card-box-container {
  border-radius: 40px !important;
}
.img-card {
  width: 100% !important;
  height: auto !important;
}

.card-img-detail {
  padding: 5px !important;
}

.card-img-home {
  padding: 2px !important;
  width: 100%;
  height: auto;
}
.footer-card {
  font-size: 12px;
  text-align: center;
}

.react-player {
  display: block;
  margin: auto;
  width: 90% !important;
  height: 400px !important;
}

.react-detail {
  display: block;
  margin: auto;
  width: 100% !important;
  height: 400px !important;
  padding: 5px;
}

.react-player-home {
  padding: 2px !important;
  width: 500px !important;
  height: 400px !important;
}

.avatar-card {
  float: left;
}

.title-add-post {
  text-align: center;
  padding: 20px;
}
.spinner {
  text-align: center;
}

.row-pagination {
  padding-top: 100px;
}

.col-post-myPost {
  padding-bottom: 20px;
}

.col-empty {
  height: 500px !important;
  padding-top: 200px !important;
}

.ant-layout {
  background: rgba(255, 255, 255, 0.2) !important;
}
@media (max-width: 800px) {
  .site-layout-content {
    width: 100%;
    padding: 0;
  }
}
