@import "./base/settings";

// Components
@import "./components/auth";
@import "./components/buttons";
@import "./components/menu";
@import "./components/post";
@import "./components/footer";
@import "./components/cardApp";
@import "./components/carousels";
@import "./components/header";
